:root{
    --primary: #000;
    --huruf: #865DFF;
    --janda: #451165;
    --white: #fff;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body {
    min-height: 5000px;
    background-color: #000;
}

.navbar {
    background-color: #010101;
    width: auto;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: #865DFF;
}

.navbar-logo {
    color: #865DFF ;
    font-style: italic;
    font-size: 40px;
}

.navbar-nav a {
    color: #fff;
    display: inline-block;
    margin: 12px;
}

.garis:hover {
    color: var(--huruf);
}

.garis::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--huruf);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.garis:hover::after {
    transform: scaleX(0.8);
}

.navbar-ngl {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    background-color: var(--janda);
    width: 60px;
    height: 30px;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: none;
}

.navbar-ngl:hover {
    color: #451165;
    background-color: #fff;
}

.navbar-ngl::after {
    transition: 0.4s linear;
}

/* ISI DARI HOME */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./gambar/homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero .content h1  {
    font-family: 'Luckiest Guy';
    font-size: 56px;
    color: var(--white);
    padding-left: 70px;
    letter-spacing: 3.5px;
}

.hero .content p {
    color: var(--white);
    padding-left: 70px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.hero .XIpalinhteknik {
    font-family: 'Love Ya Like A Sister', cursive;
    letter-spacing: normal;
}

.hero .content .cta1 {
    margin-left: 70px;
    border: 2px solid var(--janda ); /* Garis pinggir kotak */
    padding: 5px;        /* Ruang dalam kotak dari pinggirnya */
    background-color: transparent; /* Warna latar belakang kotak */
    border-radius: 10px;
}

.hero .content .cta {
    margin: 10px;
    padding: 8px;        /* Ruang dalam kotak dari pinggirnya */
    background-color: var(--white); /* Warna latar belakang kotak */
    border-radius: 10px;
}

.hero .content .cta1:hover {
    color: var(--white);
    border: 2px solid var(--huruf);
    background-color: var(--janda);
}

.hero .content .cta:hover {
    background-color: var(--janda);
    color: var(--white);
}

/* clan chief grreting */

.clan {
    padding: 8rem 7% 1.4rem;
}

.clan .row {
    display: flex;
}

.clan .row .imgclan {
    flex: 1 1 45rem;
}

.clan .content {
    color: var(--white);
}

.clan .row .imgclan img {
    width: 50%;
    margin-left: 15rem;
    border-radius: 50px;
}

.clan .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    /* margin-top: 5rem; */
    justify-content: center;
}

.clan .row .content h3 {
    font-size: 36px;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Luckiest Guy';
    letter-spacing: 2px;
    white-space: nowrap;
}

.clan .row .content p {
    margin-bottom: 0.8rem;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}
